body {
  margin: 0;
  background: #0e0e0e;
  color: white;
  font-family: Arial, sans-serif;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero p {
  color: #bbb;
  max-width: 500px;
}

.btn {
  margin-top: 20px;
  padding: 12px 24px;
  background: #1f1f1f;
  color: white;
  text-decoration: none;
  border: 1px solid #444;
  border-radius: 8px;
}

.btn:hover {
  background: white;
  color: black;
}
